.image-box {
  margin: 10px;
  height: 100px;
  width: 100px;
  border: solid 1px black;
  background-color: #888;
}

.images {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image-row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
